@import "tailwindcss";

@font-face {
  font-family: "Babuka Mtavruli";
  src: url("/fonts/babuka-mtavruli.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "3D Unicode";
  src: url("/fonts/3d_unicode.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #D93D00; 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Babuka Mtavruli";
}

.primary-font{
  font-family: "Babuka Mtavruli";
}

.test{
  font-family: "3D Unicode";
}

